/* Mystylespage */  

body {
    background-color: #282828;
}

h1,h2 {
    color: #dfee06;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
}

a {
    color: #dfee06;
    font-size: 50px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}